Add a book for <%= user.name %>
<%= simple_form_for(book, url: create_book_user_path(user.id)) do |f| %>
  <%= f.hidden_field :user_id, value: user.id %>
  <%= f.input :title %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
