Add a book for <%= user.name %>
<%= simple_form_for(book, url: books_path) do |f| %>
  <%= f.hidden_field :user_id, value: user.id %>
  <%= f.input :title %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
